<!doctype html>
<html lang="en">

<head>
    <title>View Learners - Admmin</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" type="text/css" href="./styles/style.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        .title,
        #search {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    </style>
    <!-- template for the modal component -->
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-container">
  
                <div class="modal-header">
                  <slot name="header">
                    
                    
                  </slot>
                </div>
  
                <div class="modal-body">
                  <slot name="body">
                    default body
                  </slot>
                  <span v-model="classID"></span>
                </div>
  
                <div class="modal-footer">
                  <slot name="footer">
                    default footer
                    <button class="modal-default-button" @click="$emit('close')">
                      OK
                    </button>
                  </slot>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </script>
</head>

<body>
    <div id="main-container" class="container">
        <modal v-if="showModal" v-model="classID" @close="showModal = false">
            <template v-slot:header>
                <h1 class="title display-6">Eligible Class</h1>
            </template>
	    <template v-slot:body>
          <table>
            <tr>
                <td>
                    Learner:
                </td>
                <td>
                    {{currentLearner.learnerName}}
                </td>
            </tr>
            <tr>
			<td>
				Class ID:
			</td>
			<td>
				{{eligibleClass.class.classID}}
			</td>
		</tr>
		<tr>
			<td>
				Course Name:
			</td>
			<td>
				{{eligibleClass.class.course.courseName}}
			</td>
		</tr>
		<tr>
			<td>
				Start Date:
			</td>
			<td>
				{{eligibleClass.class.startDate}}
			</td>
		</tr>
		<tr>
			<td>
				End Date:
			</td>
			<td>
				{{eligibleClass.class.endDate}}
			</td>
		</tr>
		<tr>
			<td>
				No of Slots:
			</td>
			<td>
				{{eligibleClass.class.noOfSlots}}
			</td>
		</tr>
		<tr>
			<td>
				Enrolment Period:
			</td>
			<td>
				{{eligibleClass.class.enrolmentPeriodID}}
			</td>
		</tr>
	    </table>
        </template>
        <template v-slot:footer>
            <input type="button" @click="assignToClass()" value="Assign learner to class"></input>
            <input type="button" @click="cancelModal()" value="Cancel"></input>
        </template>
	</modal>
        <div class="bs-example">
            <ul class="nav nav-tabs mt-3">
                <li class="nav-item">
                    <a href="#" class="nav-link active">Home</a>
                </li>
                <li class="nav-item ml-auto">
                    <p style="text-align:right; margin:0px auto 0px auto; font-style: Lato;"><span
                            id="name"></span>&nbsp;&nbsp; Welcome, {{ name }}</p>
                </li>
            </ul>
        </div>

        <h1 class="title display-6">View Learners</h1>

        <input class="form-control" id="search" type="text" placeholder="Search..">
        <table id="appTable" class='table table-bordered'>
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Courses Taken</th>
                    <th>Eligible Classes</th>
                </tr>
            </thead>
            <tbody id="appDetails">
                <tr :id="'tr'+learner.learnerID" v-for="learner in learners">    
                    <td>{{ learner.learnerID }}</td>
                    <td>{{ learner.learnerName }}</td>
                    <td>{{ learner.learnerContact }}</td>
                    <td>
                            <div v-for="course in learner.coursesTaken">
                                <div>
                                    <span>
                                        {{course.courseName}}
                                        <!-- <a href="#/" @click="selectCourseTaken(course.courseID)">
                                        
                                        </a> -->
                                    </span>
                                </div>
                            </div>                        
                    </td>
                    <td>
                            <div v-for="eligibleClass in learner.eligibleClasses"> 
                                <div>
                                    <span v-if="eligibleClass.inprogress">
                                        {{eligibleClass.class.classID + " - "  + eligibleClass.class.course.courseName + " (" + eligibleClass.class.enrolmentPeriodID + ")" }}
                                    </span>
                                    <span v-else>
                                        <a id="show-modal" href="#/" @click="selectClass(learner,eligibleClass)">
                                        {{eligibleClass.class.classID + " - "  + eligibleClass.class.course.courseName + " (" + eligibleClass.class.enrolmentPeriodID + ")"}}
                                        </a>
                                    </span>
                                </div>
                            </div>

                    </td><!--{ -{ learner.eligibleClasses }-}-->
                </tr>
                <tr v-if="learners.length==0">
                    <td colspan="12">
                        No data found
                    </td>
                </tr>
            </tbody>
        </table>
        <p>Should you require further assistance, please email the administrator at <a class="mailto"
                href="mailto:hr@lms.com">hr@lms.com</a> </p>
    </div>
    
      
    <script>
        sessionStorage
        Vue.component("modal",{
            template:"#modal-template"
        });
        var app = new Vue({
            el: '#main-container',
            data: {
                learners: [],
                currentLearner:{},
                adminID: "",
                name: "",
		        eligibleClass:"",
                showModal:false
            },
            mounted: function () {
                //retrieve sessionStorage
                this.adminID = sessionStorage.getItem("learnerID");
                this.name = sessionStorage.getItem("name");
                this.getLearners();
            },
            methods: {
                getLearners:function(){
                    axios.get('http://localhost:5001/learnersClasses')
                    .then(response => {
                        this.learners = response.data;
                        console.log(this.learners)
                    });
                },
                selectCourseTaken:function(classId,courseId,enrolmentPeriodId){
                    alert(classId);
                },
                selectClass:function(learner,eligibleClass){
                    this.currentLearner=learner;
                    this.eligibleClass=eligibleClass;
                    this.showModal=true;
                },
                cancelModal:function(){
                    this.showModal=false;
                },
                assignToClass: function () {
                    if(!confirm("Assign " + this.currentLearner.learnerName +" to the selected class?")){
                        return;
                    }

                    // create application
                    axios.post('http://localhost:5001/create_applications', {
                        applicationLearnerID:this.currentLearner.learnerID,
                        applicationClassID:this.eligibleClass.class.classID,
                        applicationCourseID:this.eligibleClass.class.courseID,
                        applicationStatus:'Approve',
                        enrolmentPeriodID:this.eligibleClass.class.enrolmentPeriodID,
                        adminID:this.adminID
                    })
                        .then(response => {
                            alert("You have successfully assigned learner");// + app.applicationCourseID + ", " + app.applicationCourseName + ", Class " + app.applicationClassID + ".")
                            this.showModal=false;
                            this.getLearners();
                            //location.reload();
                            return false;
                        })
                        .catch(error => {
                            this.error = error.response.data.message
                            alert(this.error)
                        });
                }
            }

        });
    </script>

    <script>
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#appDetails tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</body>

</html>